<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>참여마당</title>
    <link href="css/part.css" rel="stylesheet">
    <style>
    </style>
</head>
<body>
<th:block th:include="header.html"></th:block>
</p>
<div class="content">
    <div class="board-form">
        <h2 class="login-header">게시글 목록</h2>
        <div class="data-area">
            <!--게시글 목록 출력-->
            <div class="title-row">
                <div class="p-10">번호</div>
                <div class="p-30">제목</div>
                <div class="p-15">작성자</div>
                <div class="t-date p-45">작성일</div>
            </div>
            <div class="data-row">
                <!-- 데이터가 비어있을때 -->
                <th:block>
                    <div class="non-content">작성한 글이 없습니다.</div>
                </th:block>
            </div>
        </div>
        <div class="btn-area">
            <!-- 페이지 번호 출력하기 -->
            <div class="paging"></div>
            <button class=" wr-btn" onclick="location.href='writeFrm'">
                글쓰기
            </button>
        </div>
    </div>
</div>
<th:block th:include="footer.html"></th:block>
</body>
</html>