<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>글쓰기</title>
    <link href="css/part.css" rel="stylesheet">
</head>
<body>
<th:block th:include="header.html"></th:block>
<div class="content">
    <form th:action="@{writeProc}" method="post" class="write-form" enctype="multipart/form-data">
        <h2 class="login-header">글쓰기</h2>
        <input type="text" class="write-input" name="btitle"
               autofocus placeholder="제목" required>
        <input type="text" class="write-input" name="bwriter"
               placeholder="작성자" required>
        <input type="password" class="write-input" name="bpwd"
               placeholder="비밀번호" required>
        <textarea rows="15" name="bcontent"
                  placeholder="글내용을 작성하세요."
                  class="write-input ta"></textarea>
        <div class="filebox">
            <!--파일 입력 처리 영역-->
            <label for="file">업로드</label>
            <input type="file" name="files" id="file" multiple>
            <input type="text" class="upload-name" value="파일선택">
        </div>
        <div class="btn-area">
            <input type="submit" class="btn-write" value="W">
            <input type="reset" class="btn-write" value="R">
            <input type="button" class="btn-write" value="B" id="backbtn">
        </div>
    </form>
</div>
</body>
</html>