<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>도서 추가</title>
</head>
<body>
<th:block th:include="manager/header_manager.html"></th:block>
<!--도서 추가-->
<div class="text-center">
    <form th:action="@{bookInputProc}">
        <a><input type="text" name="bname" placeholder="책 제목을 입력하세요."></a>
        <a><input type="text" name="bauthor" placeholder="저자를 입력하세요."></a>
        <a><input type="text" name="btag" placeholder="장르를 입력하세요."></a>
        <input type="text" name="bsdate" value="0" hidden>
        <input type="text" name="bedate" value="0" hidden>
        <input type="text" name="blent" value="0" hidden>
        <input type="submit" value="등록">
    </form>
</div>
<th:block th:include="footer.html"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
</script>
</html>
