<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>도서 관리</title>
    <style>
        .book-form {
            max-width: 800px;
            padding: 15px;
            margin: 0 auto;
        }

        .bd {
            font-family: 'Gowun Dodum', sans-serif;
        }

        .font {
        !important;
            font-size: 24px;
            font-weight: bold;
        }

        .title1 {
            background-color: rgb(238, 239, 250);
        }
    </style>
    <link href="css/part.css" rel="stylesheet">
</head>
<body class="bd">
<th:block th:include="manager/header_manager.html"></th:block>
<th:block th:include="manager/navi_manager.html"></th:block>
<div class="text-center book-form">
    <table border="1" class="table-bordered table-light">
        <thead class="table-header">
        <tr style="height: 50px">
            <th class="title1" style="width: 100px">코드</th>
            <th class="title1" style="width: 400px">제목</th>
            <th class="title1" style="width: 200px">작가</th>
            <th class="title1" style="width: 100px">대출상태</th>
        </tr>
        </thead>
        <th:block th:if="${#lists.isEmpty(blist)}">
            <tbody>
            <td colspan="4"><b>데이터가 없습니다.</b></td>
            </tbody>
        </th:block>
        <th:block th:unless="${#lists.isEmpty(blist)}">
            <th:block th:each="blist:${blist}">
                <tbody id="result">
                <td th:text="${blist.bid}"></td>
                <td><a class="nav-link px-2 link-secondary" th:text="${blist.bname}" th:href="@{detailbook(bid=${blist.bid})}"></a></td>
                <td th:text="${blist.bauthor}"></td>
                <th:block th:if="${blist.blent==false}">
                    <td th:text="대출가능"></td>
                </th:block>
                <th:block th:unless="${blist.blent==false}">
                    <td th:text="대여중"></td>
                </th:block>
                </tbody>
            </th:block>
        </th:block>
    </table>
</div>

<th:block th:include="footer.html"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>

</script>
</html>