<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>도서 관리</title>
</head>
<body>
<th:block th:include="manager/header_manager.html"></th:block>
<!--도서 목록 출력-->
<div class="text-center">
    <th:block th:if="${#lists.isEmpty(blist)}">
        <div class="non-content"><b>데이터가 없습니다.</b></div>
    </th:block>
    <th:block th:unless="${#lists.isEmpty(blist)}">
        <table border="1">
            <thead class="table-header">
            <tr>
                <th class="w-25">제목</th>
                <th class="w-25">작가</th>
                <th class="w-25">대출상태</th>
                <th class="w-25">코드</th>
                <th class="w-25">삭제</th>
            </tr>
            </thead>
            <th:block th:each="blist:${blist}">
                <tbody id="result">
                <td th:text="${blist.bname}"></td>
                <td th:text="${blist.bauthor}"></td>
                <td th:text="${blist.blent}"></td>
                <td th:text="${blist.bid}"></td>
                <td>
                    <input type="button" class="btn btn-primary" value="삭제">
                </td>
            </th:block>
            </tbody>
        </table>
    </th:block>
</div>

<th:block th:include="footer.html"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
    $("input[type=button]").click(function () {
        console.log(this);
        $(this).parent().parent().remove();
        let no = $(this).parent().prev("td").text();

        let d = {bid: no}
        $.ajax({
            url: "deleteBook",
            type: "get",
            data: d,
            success: function (result) {
                if (result == "삭제 성공") {
                    alert("삭제성공");
                } else {
                    alert("실패");
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    })

</script>
</html>
