<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script th:inline="javascript">
    let m = [[${msg}]];
    if (m==null){
        console.log(m);
    } else {
        alert(m);
    }
    $("input[type=button]").click(function () {
        let yn = confirm("삭제하시겠습니까?");
        if (yn == true) {
            $(this).parent().parent().remove();
            let no = $(this).parent().prev().prev().prev().prev("td").text();

            let d = {mid: no}
            $.ajax({
                url: "deleteMember",
                type: "get",
                data: d,
                success: function (result) {
                    if (result == "삭제 성공") {
                        alert("삭제성공");
                    } else {
                        alert("실패");
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        } else {
            alert("취소되었습니다.");
        }
    })

    $("button[type=button]").click(function () {
        let no = $(this).parent().prev().prev().prev().prev().prev("td").text();
        location.href = "memberUpdate?mid=" + no;
    })
</script>
</html>
